.contact-item {
  background-color: rgba(63, 81, 181, .8) !important;
  border: 1px solid #3f51b5 !important;
  border-radius: 0.35rem;
  margin-bottom: 5px;
}

.contact-item span {
  color: #fff;
  font-weight: 500 !important;
}
