.main-container {
  max-width: 100vw !important;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #D8EAFF;
}

.inner-container {
  padding: 50px;
  background-color: #3f51b5;
  border-radius: .35rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.main-title {
  color: #fff;
  margin-bottom: 20px !important;
  font-weight: 500 !important;
}
